<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RoleMenuMapper">
    <resultMap id="BaseResultMap" type="RoleMenu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode"/>
        <result column="OBJ_CODE" jdbcType="VARCHAR" property="objCode"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser"/>
    </resultMap>
</mapper>