/.metadata
/bachelor_appconsole/.settings
/bachelor_appconsole/appconsole/.project
/bachelor_appconsole/appconsole/.classpath
/bachelor_appconsole/appconsole/.settings
/bachelor_appconsole/appconsoleWeb/.classpath
/bachelor_appconsole/appconsole/target
/bachelor_appconsole/appconsoleWeb/.mymetadata
/bachelor_appconsole/appconsoleWeb/.myumldata
/bachelor_appconsole/appconsoleWeb/.project
/bachelor_appconsole/appconsoleWeb/.settings
/bachelor_bpm/bachelor-bpm/.classpath
/bachelor_appconsole/appconsoleWeb/target/classes/org/bachelor/console/ps/web/*.class
/bachelor_appconsole/appconsoleWeb/target
/bachelor_bpm/bachelor-bpm/.project
/bachelor_bpm/bachelor-bpm/.settings
/bachelor_bpm/bachelor-bpm/target
/bachelor_build/.classpath
/bachelor_build/.project
/bachelor_demo/.project
/bachelor_demo/.settings
/bachelor_demo/demo/target
/bachelor_demo/demo/.classpath
/bachelor_demo/demo/.project
/bachelor_demo/demo/.settings
/bachelor_demo/DemoWeb/.project
/bachelor_demo/DemoWeb/.settings
/bachelor_demo/DemoWeb/target
/bachelor_demo/DemoWeb/.classpath
/bachelor_demo/DemoWeb/.mymetadata
/bachelor_ext/bachelor-ext/.project
/bachelor_ext/bachelor-ext/.settings
/bachelor_ext/bachelor-ext/target
/bachelor_ext/bachelor-ext/.classpath
/bachelor_facade/bachelor-facade/.project
/bachelor_facade/bachelor-facade/.settings
/bachelor_facade/bachelor-facade/target
/bachelor_facade/bachelor-facade/.classpath
/bachelor_fw/.project
/bachelor_fw/.settings
/bachelor_fw/bachelor-context/target
/bachelor_fw/bachelor-context/.classpath
/bachelor_fw/bachelor-context/.project
/bachelor_fw/bachelor-context/.settings
/bachelor_fw/bachelor-core/.project
/bachelor_fw/bachelor-core/.settings
/bachelor_fw/bachelor-core/target
/bachelor_fw/bachelor-core/.classpath
/bachelor_fw/bachelor-dao/.project
/bachelor_fw/bachelor-dao/.settings
/bachelor_fw/bachelor-dao/target
/bachelor_fw/bachelor-dao/.classpath
/bachelor_fw/bachelor-web/.classpath
/bachelor_fw/bachelor-web/.project
/bachelor_fw/bachelor-web/.settings
/bachelor_fw/bachelor-web/target
/bachelor_ip/.project
/bachelor_ip/.settings
/bachelor_ip/bachelor-auth/target
/bachelor_ip/bachelor-auth/.classpath
/bachelor_ip/bachelor-auth/.project
/bachelor_ip/bachelor-auth/.settings
/bachelor_ip/bachelor-cache/.project
/bachelor_ip/bachelor-cache/.settings
/bachelor_ip/bachelor-cache/target
/bachelor_ip/bachelor-cache/.classpath
/bachelor_ip/bachelor-stat/.project
/bachelor_ip/bachelor-stat/.settings
/bachelor_ip/bachelor-stat/target
/bachelor_ip/bachelor-stat/.classpath
/bachelor_ip/bachelor-sysvar/.project
/bachelor_ip/bachelor-sysvar/.settings
/bachelor_ip/bachelor-sysvar/target
/bachelor_ip/bachelor-sysvar/.classpath
/bachelor_build/reflib/*.jar
/bachelor_ip/bachelor-sysvar/build/classes/org/bachelor/gv/dao/*.class
/bachelor_bpm/bachelor-bpm/build/classes/META-INF/MANIFEST.MF
*.class
MANIFEST.MF
/*.rar
