<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bachelor.common.auth.dao.RolePermissionMapper">

    <resultMap type="org.bachelor.common.auth.domain.RolePermission" id="rolePerm">
        <result property="id" column="ID"/>
        <result property="roleCode" column="ROLE_CODE"/>
        <result property="permCode" column="PERM_CODE"/>
        <result property="objCode" column="OBJ_CODE"/>
        <result property="objUri" column="OBJ_URI"/>
        <result property="objOperate" column="OBJ_OPERATE"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
    </resultMap>
    <select id="selectViaUserCode" parameterType="string"
            resultMap="rolePerm">
        SELECT rp.ID,
        rp.ROLE_CODE,
        rp.PERM_CODE,
        rp.OBJ_CODE,
        rp.OBJ_URI,
        rp.OBJ_OPERATE,
        rp.UPDATE_TIME,
        rp.UPDATE_USER
        FROM cmn_auth_role_permission rp
        LEFT JOIN cmn_auth_user_role ur ON
        rp.ROLE_CODE = ur.ROLE_CODE AND
        ur.USER_CODE = #{userCode}
    </select>
</mapper>