@font-face {
	font-family: myicon;
	font-weight: normal;
	font-style: normal;
	src: url('https://at.alicdn.com/t/font_1715730_x6j8y3gpnkk.ttf') format('truetype');
}

.myicon {
	font-family: "myicon" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/***********平台*************/
.icon-clgl:before {
	content: "\e9d9";
}
.icon-zdwx:before {
	content: "\ebfd";
}
.icon-qyyj:before {
	content: "\e6ed";
}
.icon-hzyj:before {
	content: "\e6e5";
}
.icon-aqjg:before {
	content: "\e6f0";
}
.icon-cldj:before {
	content: "\e6eb";
}
.icon-sjcl:before {
	content: "\e6ec";
}
.icon-wzcl:before {
	content: "\e6ee";
}
.icon-gkhw:before {
	content: "\e98f";
}
.icon-dlaq:before {
	content: "\e76d";
}
.icon-yjya:before {
	content: "\e726";
}
.icon-zwsb:before {
	content: "\e7a1";
}

/***********菜单*************/

.icon-crgl:before {
	content: "\e6f2";
}

.icon-crsq:before {
	content: "\e6ff";
}

.icon-crjl:before {
	content: "\e6f6";
}

.icon-yhqx:before {
	content: "\e701";
}

.icon-shtj:before {
	content: "\e6f4";
}

.icon-zbbl:before {
	content: "\e6f5";
}

.icon-spjk:before {
	content: "\e962";
}

.icon-ljcx:before {
	content: "\e6f3";
}

.icon-tzgg:before {
	content: "\e6f7";
}

.icon-shez:before {
	content: "\e6f9";
}
/***********信封*************/
.icon-xfopen:before {
	content: "\e983";
}

.icon-xfclose:before {
	content: "\e982";
}

/***********通用*************/

.icon-next:before {
	content: "\e6fa";
}

.icon-prev:before {
	content: "\e6fb";
}

.icon-ellipsis:before {
	content: "\e622";
}

.icon-user:before {
	content: "\e700";
}

.icon-pass:before {
	content: "\e755";
}

.icon-option:before {
	content: "\e6e4";
}

.icon-fksl:before {
	content: "\e6ea";
}

.icon-sptg:before {
	content: "\e6e6";
}

.icon-rjgl:before {
	content: "\e6e7";
}

.icon-yjgl:before {
	content: "\e6e8";
}

.icon-cljg:before {
	content: "\e6e9";
}

.icon-wxgl:before {
	content: "\e707";
}

.icon-sqrz:before {
	content: "\e708";
}

.icon-fk:before {
	content: "\e706";
}

.icon-wh:before {
	content: "\e703";
}

.icon-ph:before {
	content: "\e705";
}

