<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bachelor.common.auth.dao.CmnAuthObjectsMapper">
  <resultMap id="BaseResultMap" type="org.bachelor.common.auth.domain.Objects">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="URI" jdbcType="VARCHAR" property="uri" />
    <result column="OPERATE" jdbcType="VARCHAR" property="operate" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="DOMAIN_CODE" jdbcType="VARCHAR" property="domainCode" />
    <result column="SEQ_ORDER" jdbcType="INTEGER" property="seqOrder" />
    <result column="DEF_AUTH_OP" jdbcType="VARCHAR" property="defAuthOp" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
</mapper>