<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bachelor.common.auth.dao.CmnAuthUserRoleMapper">
  <resultMap id="BaseResultMap" type="org.bachelor.common.auth.domain.UserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_CODE" jdbcType="VARCHAR" property="userCode" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
</mapper>