/* 改变主题色变量 */
$--color-primary: #1773ff;
/// color|1|Border Color|3
$--border-color-lighter: #D8DDE7 !default;
/// borderRadius|1|Radius|0
$--border-radius-base: 2px !default;
/// color|1|Font Color|2
$--color-text-placeholder: #9B9B9B !default;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
