$bg-color: #FFFFFF;
$headerBgColor: #1773ff;
$headerHeight: 64px;
$asideSubBgColor: #1f2d3d;
$mainBgColor: #F3F3F3;
$menu-text-color: #FFF;
$menu-text-color-active: #FFF;

.lx-container{
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  min-width: 0;
}

.lx-container.lx-vertical{
  flex-direction: column;
}
.lx-container.lx-full{
  height: 100vh;
}
.lx-header, .lx-footer{
  background-color: $headerBgColor;
}
.lx-header{
  height: $headerHeight;
  box-sizing: border-box;
  flex-shrink: 0;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.44);
  z-index: 60;
  display: flex;
  justify-content: space-between;
  // border-top: 1px solid #0060ff;
  .logo{
    cursor: pointer;
    height: 64px;
    width: 200px;
    background:#FFF  url(../../assets/images/logo.png) center no-repeat;
    background-size: cover;
    a{
      margin-left: 5px;
      color: #AAA;
      transition: all 0.3s;
    }
    &:hover{
      a{
        color: #CCC;
      }
    }
  }
  .userinfo{
    padding: 18px 20px;
    a{
      color: #FFF;
      text-decoration: none;
    }
    .fa-user{
      color: #1773ff;
    }
  }
  .startover{
    float: right;
    img{
      display: block;
    }
  }
}
.lx-aside{
  background: linear-gradient(to bottom, #008DDE 0%,#1773FF 100%);
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  .el-scrollbar__bar.is-vertical{
    right: 0px;
  }
}
.lx-menu{
  flex: 1;
  width: 200px;
  transition: width 0.4s;
  overflow-x: hidden!important;
  .el-scrollbar__wrap {
    overflow: auto;
  }
  .el-scrollbar__thumb{
    background-color: rgba(0,0,0, 0.2);
  }
  .horizontal-collapse-transition {
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
  }
  .el-menu-item,.el-submenu__title{
    color: $menu-text-color;
  }
  .el-submenu .el-menu-item{
    // background: $asideSubBgColor !important;
  }
  .el-submenu__title i{
    color: $menu-text-color;
  }
  .el-menu-item.is-active{
    color: $menu-text-color-active;
  }
  .el-menu{
    border-right: none;
    background: transparent !important;
  }
  .el-scrollbar__bar.is-vertical{
    right: 0px;
  }
  .el-menu-item{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.01);
  }
  a.el-menu-item{
    display: block;
    color: rgb(191, 203, 217);
    text-decoration: none;
    &:hover,&:focus{
      background: rgb(38, 52, 69);
      outline: none;
    }
  }
  .el-menu-item i{
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    color: #FFF;
  }
  .lx-menu .el-submenu__title i{
    color: #FFF !important;
  }
  .el-menu-item{
    transition: background 0.1s ease-in-out;
  }
  .el-menu-item:hover, .el-menu-item:focus,
  .el-submenu__title:hover,
  .el-menu-item.is-active {
    background: #1773ff url(../..//assets/images/menu-bg.png) no-repeat right;
    background-size: auto 100%;
  }
  .el-submenu__icon-arrow{
    font-size: 16px;
  }
}

.lx-status{
  background: #485667;
  font-size: 12px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  a{
    font-size: 14px;
    text-decoration: none;
    color: #FFF;
  }
}
.lx-breadcrumb{
  padding: 15px;
  height: 16px;
  line-height: 16px;
  background: $mainBgColor;
}
.lx-menu-ctrl{
  display: block;
  float: left;
  color: #555;
  position: relative;
  top: -1px;
  margin-right: 10px;
  text-decoration: none;
}
.lx-main{
  overflow: hidden;
  box-sizing: border-box;
  background-color: $mainBgColor;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  // padding: 10px 20px 20px;
  display: flex;
  >.el-scrollbar>.el-scrollbar__wrap>.el-scrollbar__view{
    padding: 20px;
  }
}
.lx-common-view{
  position: fixed;
  z-index: 51;
  top: $headerHeight;
  left: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgba(238, 238, 238, 0.96);
}
@import './element-ui.scss';